header{
    margin: auto;   
    width: 100%;
    display: inline-block;
}

.location{
    background-color: rgb(243, 243, 243,0.89);
    margin-bottom: -65px;
    margin-left: 280px;
}

.first img{
    height: 70px;
    float: left;
}

body{
    height: auto;
    width: auto;
}

.blackPart{
    background-color: black;
    height: 14vw;
   margin-top:70px;
   width: 100%;
}

  .blackPart img {  
    width: 15%; 
    height: 70%;
    float: left; 
    margin-top: 1px;
   margin-left: 10%;
   padding: 20px;
  } 

  .blackPart h1{
      color: white;
      /* text-align: start; */
      font-size: 30px;
      font-weight: 70;
      padding: 25px;
      line-height:20px;
     margin-bottom: -15px; 
  }

  .blackPart h2{
    color: grey;
    text-align: start;
    font-size: 21px;
    font-weight: 50;
    line-height: 0px;
    margin-top: 10009px;
    display: inline;
    
}

.blackPart h3{
    color: grey;
    font-size: 18px;
    font-weight: 30;
    display: inline;
}

.blackPart div{
    width: auto; 
    height: 200px;
}

.blackPart offer{
    border: solid 3px green;
    margin-right: 100px;
    float: right;
    padding-left: 200px;
}

.items{
    margin-left: 300px;
    padding-top: 30px;
    text-align: right;
    margin-top: -120px;
    margin-right: 1200px;
    line-height: 30px;
    font-weight: 900;
    display: inline-flex;
    /* border-right: 6px solid green; */
}

.boarder{
    margin-right: 1210px;
    border-right: 3px solid green;
    height: 200px;
    margin-top: 50px;
    /* float: right; */
}

.items li{
 list-style: none;

}

.items2 {
    margin-top: -250px;
   }

.firstDish {
    margin-left: 530px;
    font-weight: 900;
    float: left;
    width: 33.3%;
}

.firstDishandname img{
    width: 110px;
    height: 90px;
    margin-left: 120px;
    float:right;
}

.firstDishContent{
    color: grey;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}

.secondDish {
    margin-left: 530px;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 40px;
}

.secondDishandname img{
    width: 110px;
    height: 90px;
    margin-left: 120px;
    float:right;
}

.secondDishContent{
    color: grey;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}

.thirdDish {
    margin-left: 530px;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 40px;
}

.thirdDishandname img{
    width: 110px;
    height: 90px;
    margin-left: 120px;
    float:right;
}

.thirdDishContent{
    color: grey;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}

.fourthDish {
    margin-left: 530px;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 40px;
}

.fourthDishandname img{
    width: 110px;
    height: 90px;
    margin-left: 120px;
    float:right;
}

.fourthDishContent{
    color: grey;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}

.fifthDish {
    margin-left: 530px;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 40px;
}

.fifthDishandname img{
    width: 110px;
    height: 90px;
    margin-left: 120px;
    float:right;
}

.fifthDishContent{
    color: grey;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}

.items3{
    margin-top: -100px;
    font-size: 37px;
    font-weight: 600;
}

.boarder2{
    border-left: 4px solid green;
    margin-left: 1130px;
    height: 960px;
    margin-top: -90px;
    /* float: left; */
}

.items3{
    margin-left: 1170px;
    margin-top: -970px;
    color: grey;
    
}

.cartImage img{
    margin-left: 60px;
    margin-top: 20px;
}

.cartText{
   margin-top: -7px;
   color: rgb(75, 66, 66);
   font-size: 18px;
   font-weight: 1000;
   margin-left: 1180px;
   width: 14%;
}



