.first{
    /* margin: auto;    */
    /* justify-content: space-around; */
    display: flex;
    flex-wrap: nowrap;
}

/* html{
    font-size: 10px;
    rem=Realtive Measurement
} */

.location{
    background-color: rgb(243, 243, 243,0.89);
    margin-bottom: -4.06rem;
    margin-left: 12.5rem;
}

.first img{
    height: 4.375rem;
    float: left;
    
}

.blackPart{
    background-color: black;
    height: 14vw;
   margin-top:4.375rem;
   width: 100%;
}

  .blackPart img {  
    width: 15%; 
    height: 70%;
    float: left; 
    margin-top: .0625rem;
   margin-left: 10%;
   padding: 1.25rem;
  } 

  .blackPart h1{
      color: white;
      /* text-align: start; */
      font-size: 1.875rem;
      font-weight: 70;
      padding: 1.5625rem;
      line-height:1.25rem;
     margin-bottom: -0.9375rem; 
  }

  .blackPart h2{
    color: grey;
    text-align: start;
    font-size: 1.3125rem;
    font-weight: 50;
    line-height: 0px;
    margin-top: 625.5625rem;
    display: inline;
    
}

.blackPart h3{
    color: grey;
    font-size: 1.125rem;
    font-weight: 30;
    display: inline;
}
.pricerecom{
    font-size: 15px; color: grey;margin-top: 5px;
}
.descrecom{
    width: 100%;text-align:right;margin-left: 0;
}

.blackPart div{
    width: auto; 
    height: 12.5rem;
}

.blackPart offer{
    border: solid 3px green;
    margin-right: 6.25rem;
    float: right;
    padding-left: 12.5rem;
}

.items{
    margin-left: 18.75rem;
    padding-top: 1.875rem;
    text-align: right;
    margin-top: -7.5rem;
    margin-right: 75rem;
    line-height: 1.875rem;
    font-weight: 900;
    display: inline-flex;
    /* border-right: 6px solid green; */
}

.boarder{
    margin-right: 74.625rem;
    border-right: 3px solid green;
    height: 12.5rem;
    margin-top: 3.25rem;
    /* float: right; */
}

.items li{
 list-style: none;

}

.items2 {
    margin-top: -15.625rem;
   }

 .firstDish {
    margin-left: 33.125rem;
    font-weight: 900;
    float: left;
    width: 33.3%;
}

.firstImage img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
}

#firstDishandname_img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
} 

.firstDishContent{
    color: grey;
    font-size: .875rem;
    line-height: .875rem;
    margin-top: -5.225rem;
}

/* .firstDisfhandname img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
}



.secondDish {
    margin-left: 33.125rem;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 2.5rem;
}

.secondImage img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
}

/* .secondDishandname img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
} */

.secondDishContent{
    color: grey;
    font-size: .875rem;
    line-height: .875rem;
    margin-top: -5.225rem;
}

.thirdDish {
    margin-left: 33.125rem;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 2.5rem;
}

/* .thirdDishandname img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
} */

.shop-item-image img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
}

.thirdDishContent{
    color: grey;
    font-size: .875rem;
    line-height: .875rem;
    margin-top: -5.225rem;
}

.fourthDish {
    margin-left: 33.125rem;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 2.5rem;
}

.fourthDishandname img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
}

.fourthDishContent{
    color: grey;
    font-size: .875rem;
    line-height: .875rem;
    margin-top: -5.225rem;
}

.fifthDish {
    margin-left: 33.125rem;
    font-weight: 900;
    float: left;
    width: 33.3%;
    margin-top: 2.5rem;
}

.fifthDishandname img{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;
}

.fifthDishContent{
    color: grey;
    font-size: .875rem;
    line-height: .875rem;
    margin-top: .625rem;
} 

/* .items3{
    margin-top: -12.25rem;
    font-size: 2.3125rem;
    font-weight: 600;
} */

.items3{
    margin-top: 12.25rem;
    font-size: 2.3125rem;
    font-weight: 600;
    /* background-color: green; */
}

.items4{
    margin-top: -9.25rem;
    font-size: 2.3125rem;
    font-weight: 600;
    margin-left: 19rem;
    background-color: green;
}

.boarder2{
    border-left: 4px solid green;
    margin-left: 70.625rem;
    height: 50rem;
    margin-top: -5.625rem;
    /* float: left; */
}

.items3{
    margin-left: 73.125rem;
    margin-top: -50.625rem;
    font-weight: 300rem;
    font-size: 2.5rem;
    color: red;
    
}



#bottom1{
    margin-top: 10px;
    /* width: 33.3%; */
}

/* .bottom2{
    margin-top: 20rem;
} */

.cartImage img{
    margin-right: 20.125rem;
    margin-top: -37.74rem;
    width: 250px;
    height: 190px;
    float: right;
}

.cartText{
   margin-top: 900px;
   color: rgb(75, 66, 66);
   font-size: 1.125rem;
   font-weight: 1000;
   margin-left: -10px;
   margin-left: 73rem;
   width: 14%;
   /* background-color: green; */
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    /* display: flex; */
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 12%;
    margin-left: 6rem;
   
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
    /* margin-left: 60px; */
}

.cart-quantity {
    width: 20%;
}

.cart-item-title {
    color: #333;
    margin-left: .1em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-total-title{
    /* margin-right: 33rem; */
    margin-left: 31rem;
}

.btn-purchase {
    display: block;
    margin: 50px auto 120px auto;
    font-size: 1.75em;
    margin-left: 1300px;
    /* background-color: green; */
}

.shop-item-image 
{
    width: 6.875rem;
    height: 5.625rem;
    margin-left: 7.5rem;
    float:right;

}

.shop-item-button{
    margin-left: 29rem;
    /*
    margin-top: 4rem; */
}

/* .btn-primary {
    color: #212529;
    font-weight: 520;
    background-color:gray;
    border-color: black  
} */

.btn-group{
    /* background-color: green; */
    margin-top: 60px;
    /* width: 10px; */
}

.cart-quantity-input{
    width: 38px;
    margin-left: 47px;
}

.btn-danger{
    width: 70px;
    margin-left: 70px;
}
