header{
    margin: auto;   
    width: 100%;
    display: inline-block;
}

.location{
    background-color: rgb(243, 243, 243,0.89);
    margin-bottom: -65px;
    margin-left: 280px;
}

.first img{
    height: 70px;
    float: left;
}

body{
    height: auto;
    width: auto;
}

.blackPart{
    background-color: black;
    height: 14vw;
   margin-top:70px;
   width: 100%;
}

  .blackPart img {  
    width: 15%; 
    height: 70%;
    float: left; 
    margin-top: 1px;
   margin-left: 10%;
   padding: 20px;
  } 

  .blackPart h1{
      color: white;
      /* text-align: start; */
      font-size: 30px;
      font-weight: 70;
      padding: 25px;
      line-height:20px;
     margin-bottom: -15px; 
  }

  .blackPart h2{
    color: grey;
    text-align: start;
    font-size: 21px;
    font-weight: 50;
    line-height: 0px;
    margin-top: 10009px;
    display: inline;
}

.blackPart h3{
    color: grey;
    font-size: 18px;
    font-weight: 30;
    display: inline;
}

.blackPart div{
    width: auto; 
    height: 200px;
}

.blackPart offer{
    border: solid 3px green;
    margin-right: 100px;
    float: right;
    padding-left: 200px;
}

.items{
    margin-left: 300px;
    padding-top: 30px;
    text-align: right;
    margin-top: -120px;
    margin-right: 1200px;
    line-height: 25px;
    display: inline-flex;
}

.items li{
 list-style: none;

}

